*.bbl
*.aux
*.blg
*.log
*.nav
*.out
*.xml
*.toc
*.synctex.gz
*.snm
*.vrb
*.bcf
bredele-remix/main.pdf
bredele-remix/main-blx.bib
most-simple/main-blx.bib
most-simple/main.pdf
most-simple-firasans/main.pdf
most-simple-firasans/main-blx.bib
mtheme/demo-blx.bib
mtheme/demo.pdf
