*.bbl
*.aux
*.blg
*.log
*.nav
*.out
*.xmlmost-simple/main.toc
most-simple-ensta/main.pdf
most-simple-ensta/main.synctex.gz
most-simple-ensta/main.snm
most-simple-ensta/main.toc
most-simple/main-blx.bib
most-simple/main.pdf
most-simple-ensta/main-blx.bib
most-simple/main.synctex.gz
mtheme/demo-blx.bib
mtheme/demo.pdf
mtheme/demo.snm
most-simple-ensta/main.run.xml
most-simple/main.run.xml
most-simple/main.snm
most-simple/main.toc
mtheme/demo.run.xml
mtheme/demo.synctex.gz
mtheme/demo.toc
mtheme/demo.vrb
