*.bbl
*.aux
*.blg
*.log
*.nav
*.out
*.xml
*.toc
*.synctex.gz
*.snm
*.vrb
*.bcf
most-simple/main-blx.bib
most-simple/main.pdf
mtheme/demo-blx.bib
mtheme/demo.pdf
bredele-remix/main.pdf
bredele-remix/main-blx.bib
most-simple-modif/main.pdf
most-simple-modif/main-blx.bib
presis4/main.pdf
